* {
    box-sizing: border-box;
}

#header-rectangle {
    color: #006633;
    border: 10px solid;
    box-shadow: 5px 5px #006633;
    margin: auto;
}

.space-under {
    padding-bottom: 17px;
}

.section-header {
    color: #006633;
}

.course-category{
    color: #006633;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    color: #2c3e50;
    font-size: 1em;
    font-family: 'Source Serif Pro', 'Helvetica Neue', serif;
    /*The body of the window rendering your page should have a light gray (or a color of your choice) background.*/
    background-color: floralwhite;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #006633;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.header {
    padding: 2.0em 0;
    background-image: url('mason.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer, .welcome-top, .welcome-bottom {
    text-align: center;
}

.welcome-top {
    margin-bottom: 0.4em;
    color: #006633;
    font-size: 2.35em;
    text-shadow: 0px 1px 0px #FFCC33;
    font-weight: 550;
}

.welcome-bottom {
    margin-top: -0.2em;
    color: #006633;
    font-size: 3.0em;
    text-shadow: 0px 3px 0px #FFCC33;
    font-weight: 700;
}

.intro, .degrees {
    max-width: 37.5em;
    margin: 0 auto;
    margin-top: 3em;
    line-height: 1.5em;
}

.degrees h3 {
    color: #006633;
}

.footer {
    color: #006633;
    margin-top: 2.5em;
    background: #FFCC33;
    padding: 3.8em 0;
}

.footer p {
    text-align: center;
}

.footer-links {
    text-align: center;
    margin-left: -2em;
}

.footer-links > li {
    display: inline-block;
    margin: 0 1.0em;
}

a.hover {
    color: #006633;
    text-decoration: none;
}

a.hover:hover {
    text-decoration: underline;
}


#main-logo {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
