

#formDiv {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    margin-left:15%; 
    margin-right:15%;
    border-radius: 25px;

}

#surveyForm
{
	border:0; 
	margin-left:auto; 
    margin-right:auto;
	border-spacing:15px;
	color:#000059;
}

#mason_logo
{
	width:200px;
	height:200px;
	position: fixed;
	right: 0px;
	bottom: 0px;
}


body
{
	background-color:rgba(255, 255, 0, 0.3);
	font-family: "Verdana", Geneva, sans-serif;
}

h1
{
	text-shadow: -2px -2px #9999cc;
	color: #323299;
}

h3
{
	text-shadow: -1px -1px #9999cc;
	color: #800000;
}

a
{
	text-align:center;
	display:block;
}
p
{
	text-align: justify;
}

.cols		
{
	-webkit-column-count: 3;
	column-count: 3;
	column-gap: 50px;
}
