

#formDiv {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    margin-left:15%; 
    margin-right:15%;
    border-radius: 25px;

}

#surveyForm
{
	border:0; 
	margin-left:auto; 
    margin-right:auto;
	border-spacing:15px;
	color:#000059;
}

#mason_logo
{
	width:200px;
	height:200px;
	position: fixed;
	right: 0px;
	bottom: 0px;
}

#clist {
    width: 75%;
    height: 75%;
    background-color:rgba(255, 255, 0, 0.4);
    box-shadow: 10px 10px 5px #888888;
}

.area1
{
	line-height: 1.2;
	color:#323299;
}

body
{
	background-color:rgba(255, 255, 0, 0.3);
	font-family: "Verdana", Geneva, sans-serif;
}

h1
{
	text-shadow: -2px -2px #9999cc;
	color: #323299;
}

h3
{
	text-shadow: -1px -1px #9999cc;
	color: #800000;
}

a
{
	text-align:center;
	display:block;
}
p{
	text-align: justify;
}
.hoverGMU
{
	height: 100px;
	width: 200px;
	position: fixed;
	top: 5px;
	right: 5px;
}
.frameStyle
{
	width:100%;
		height:100%;
		border:0px;
		margin:0px;
}
